.container {
  padding: 10px 15px;
}

.title {
  font-size: large;
  font-weight: bold;
  padding: 0px 0px 15px 0px;
}

.overflow {
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overflow::-webkit-scrollbar {
  display: none;
}