.layout {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 768px;
  min-height: 100vh;
  flex-basis: 768px;
  background: white;
}

.dark_mode {
  background-color: #292929;
  color: white;
}

@media only screen and (max-width: 600px) {
  .layout {
    display: block;
  }
}
