.icon {
  text-align: right;
  width: 100%;
  padding-right: 1vw;
  cursor: pointer;
}

.left_panel {
  width: 2vw;
  color: #ffffff;
  border: 1px solid #ccc;
  background-color: #292929;
  position: fixed;
  top: calc(10%);
  /* left: 6.1vw; */
  border-radius: 0 1em 1em 0;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

/* .left_panel:hover {
  left: 6.1vw;
} */

.left_panel.show {
  /* left: 55px; */
  width: 20vw;
}

.left_panel a.controller {
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: black;
  font-weight: bold;
}

.left_panel.show a.controller {
  transform: rotate(180deg);
}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;

  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
  .left_panel:hover {
    left: -35vw;
  }
  
  .left_panel.show {
    left: -2px;
    width: 40vw;
  }

  .left_panel {
    width: 40vw;
    left: -35vw;
  }
}